{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tourism-related Tweet Identification Test</title>
    <link rel="stylesheet" href="{% static 'phtweetmap/stylesheets/style.css' %}"  />
</head>

<body>
    <div id="tweets">
        <ul>
        {% for tweet in tweets %}
            <li class="{{tweet.classification}}"> 
                {{ tweet.text }}
                <div id="buttons">
                    <button class="tourism-button">✓</button>
                    <button class="nontourism-button">X</button>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>