{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tourism-related Tweet Identification Test</title>
    <link rel="stylesheet" href="{% static 'phtweetmap/stylesheets/style.css' %}"/>
</head>

<body>
    <div id="scores">
        Accuracy: {{ accuracy }} </br>
        Precision: {{ fscore.precision }} </br>
        Recall: {{ fscore.recall }} </br>
        F-score: {{ fscore.fscore }}
    </div>
    <div id="tweets">
        <ul>
        {% for tweet in tweets %}
            <li class="{{tweet.classification}}" data-pk="{{tweet.pk}}"> 
                {{ tweet.text }}
                <div id="buttons">
                    <button class="tourism-button">✓</button>
                    <button class="nontourism-button">X</button>
                </div>
            </li>
        {% endfor %}
        <div id="results">
            Calculate
        </div>
        </ul>
    </div>
    <script src="{% static 'phtweetmap/javascript/jquery.js' %}"></script>
    <script src="{% static 'phtweetmap/javascript/test.js' %}"></script>
</body>
</html>